$font-roboto: 'Roboto';
$font-montserrat: 'Montserrat';
$font-kaushan: 'Kaushan Script';
$main-gradient: linear-gradient(rgba(243,129,129,0.9), rgba(252,227,138,0.9));
$main-margin: 0 20%;
$vertical-margin: 10px 0; 
$background: rgba(224,224,224,0.3);
$height-section-medium: 150px;
